/* For devices with a max-width of 1024px (Tablets and smaller) */
@media (max-width: 1024px) {
  .footer-card {
    padding: 15px;
  }

  .footer-title {
    font-size: 30px;
  }

  .footer-price,
  .discounted-price {
    font-size: 28px;
  }

  .footer-description {
    font-size: 14px;
  }

  .footer-button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .footer-image-container {
    width: 250px;
    height: 250px;
  }

  .footer-image {
    width: 180px;
    height: 180px;
  }
}

/* For devices with a max-width of 480px (Mobile devices) */
@media (max-width: 480px) {
  .footer {
    padding: 30px 10px;
  }

  .footer-title {
    font-size: 24px;
  }

  .footer-price,
  .discounted-price {
    font-size: 24px;
  }

  .footer-description {
    font-size: 14px;
  }

  .footer-button {
    font-size: 14px;
    padding: 6px 12px;
  }

  .footer-image-container {
    width: 200px;
    height: 200px;
  }

  .footer-image {
    width: 150px;
    height: 150px;
  }

  .footer-content {
    padding: 10px;
  }
}
